body{
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.content{
    flex: 1;
}
.title{
    text-align: center;
    font-size: 200px;
}
.scoreboard{
    height: 300px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.button-container{
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn{
    margin: 50px;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px red;
    transition: ease 0.07s;
    cursor: pointer;
}

.userscore,
.cpuscore{
    height: 150px;
    width: 500px;
    border: 0.5px black solid;
    margin: 20px;
    background-color: rgb(255, 122, 122);
    padding: 25px;
    padding-bottom: 50px;
    
}

h1{
    font-size: 40px;
    font-weight: 900;
}
span.comscore,
span.yourscore{
    font-size: 50px;
}


.btn:hover{
    transform: scale(1.1);
}

#rock{
    background-image: url("./pics/rock.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#paper{
    background-image: url("./pics/paper.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#scissors{
    background-image: url("./pics/scissor.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.footer{
    font-size: 32px;
}


